@import "@/shared/styles/variables.css";
html,
body,
#root {
  height: 100%;
  margin: 0;
}
body {
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
  line-height: 1.5;
}

.text {
  font-size: var(--font-size-base);
}
